name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: arm-none-eabi-gcc GNU Arm Embedded Toolchain
      uses: carlosperate/arm-none-eabi-gcc-action@v1.11.0
      with:
        release: latest

    - name: Make
      run: make
      
    - name: Create Release
      uses: ncipollo/release-action@v1.20.0
      with:
        allowUpdates: true
        artifacts: build/uf2boot.bin
        tag: stm32f103cb

